@page "/history"
@* @inject Blazored.LocalStorage.ISyncLocalStorageService localStorage *@
@using EmailSender.Models
@using EmailSender.Interface
@inject NavigationManager NavigationManager
@inject IEmailHistorySaver EmailHistorySaver;
@rendermode InteractiveServer

<PageTitle>Отправленные</PageTitle>
<h1>История почты</h1>
<p style="font-size: 15px; text-decoration: underline"> Показываются первые 200 сообщений </p>
<br>

@if (_history == null)
{
    <p>Загрузка...</p>
}
else
{
    @if (_history.Count > 0)
    {
        <hr/>
        for (int i =_history.Count - 1; i >= 0; i--)
        {
            <p>Письмо от: @_history[i].Date </p>
            <p>Кому: @_history[i].Email</p>
            <p>Текст: <br/>@_history[i].Text</p>
            <hr/>
        }
    }
    else
    {
        <p>Писем нет!</p>
        <button class="MainNewMessageButton" @onclick="OpenNewMessagePage">
            Новое письмо!
        </button>
    }
}

@code {
    List<EmailModel>? _history;

    protected override void OnInitialized()
    {
        GetHistory();
    }

    private void GetHistory()
    {
        var t = EmailHistorySaver.GetHistory();
        _history = t.ToList();
    }

    private void OpenNewMessagePage()
    {
        NavigationManager.NavigateTo("/New");
    }
}