@page "/"
@inject ILogger<Home> Logger;
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>EmailSender</PageTitle>

<h1>Отправка сообщение по почте!</h1>

<strong> EmailSender </strong>- с его помощью, вы можете отправить любое сообщение на почту!
<br>
<br>
<button class="MainNewMessageButton" @onclick="OpenSender">
    Новое письмо!
</button>

@code
{
    private void OpenSender()
    {
        Logger.LogInformation("Переход на страницу нового письма!");
        NavigationManager.NavigateTo("/New");
    }
}
